In [3]:
# Imported Packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import  poisson

In [4]:
#Import csv files to python as a dataframe
bets = pd.read_csv(r"C:\Users\elif.erdem\Desktop\Master\IE-582\HW-1\bets.csv") 
booking = pd.read_csv(r"C:\Users\elif.erdem\Desktop\Master\IE-582\HW-1\booking.csv") 
goals = pd.read_csv(r"C:\Users\elif.erdem\Desktop\Master\IE-582\HW-1\goals.csv") 
matches = pd.read_csv(r"C:\Users\elif.erdem\Desktop\Master\IE-582\HW-1\matches.csv") 
stats = pd.read_csv(r"C:\Users\elif.erdem\Desktop\Master\IE-582\HW-1\stats.csv")

* Matches dataframe consists of the info required for Q1. Hence, this df is analyzed with describe and info detailly.

* Type of columns which are with match_status, match_hometeam_name, match_awayteam_name is not numerical.
* Match_status, match_hometeam_score, match_awayteam_score,match_hometeam_halftime_score, match_awayteam_halftime_score,match_hometeam_extra_score, match_awayteam_extra_score, match_hometeam_penalty_score, match_awayteam_penalty_score columns have missing values.
* match_awayteam_penalty_score , match_hometeam_penalty_score  columns can be dropped since they do not include any info.

In [5]:
matches = matches.drop(columns=['match_hometeam_penalty_score', 'match_awayteam_penalty_score'])

In [6]:
matches.describe()

,match_awayteam_id,match_hometeam_id,match_id,epoch,match_live,match_hometeam_score,match_awayteam_score,match_hometeam_halftime_score,match_awayteam_halftime_score,match_hometeam_extra_score,match_awayteam_extra_score,league_id
count,5137.000000,5137.00000,5137.000000,5.137000e+03,5137.0,5073.000000,5073.000000,4711.000000,4711.000000,4711.000000,4711.000000,5137.000000
mean,4531.758809,4531.84232,142888.798521,1.539031e+09,0.0,1.571260,1.217426,0.673955,0.523456,0.673955,0.523456,287.737201
std,1942.916147,1942.99576,69741.254602,1.992203e+07,0.0,1.275102,1.172535,0.816132,0.731627,0.816132,0.731627,140.939789
min,2611.000000,2611.00000,13274.000000,1.505560e+09,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,148.000000
25%,2679.000000,2679.00000,79111.000000,1.520015e+09,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,149.000000
50%,4171.000000,4171.00000,146838.000000,1.541254e+09,0.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,262.000000
75%,7097.000000,7097.00000,196510.000000,1.554642e+09,0.0,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,468.000000
max,7670.000000,7670.00000,318015.000000,1.571512e+09,0.0,8.000000,7.000000,6.000000,5.000000,6.000000,5.000000,512.000000

* Columns that are match_hometeam_score, match_awayteam_score, match_hometeam_halftime_score, match_awayteam_halftime_score, match_hometeam_extra_score, match_awayteam_extra_score analyzed min, max and mean values to analyze outliers

- English premier league is analyzed for the Q1. Hence, the raw data is limited for the LeagueId=148(EnglishPremier)

In [7]:
matches_premier= matches[matches['league_id']==148]

In [8]:
matches_premier.head(2)

,match_awayteam_id,match_hometeam_id,match_id,epoch,match_status,match_live,match_hometeam_name,match_awayteam_name,match_hometeam_score,match_awayteam_score,match_hometeam_halftime_score,match_awayteam_halftime_score,match_hometeam_extra_score,match_awayteam_extra_score,league_id
1,2614,2619,13331,1505561400,Finished,0,Crystal Palace,Southampton,0.0,1.0,0.0,1.0,0.0,1.0,148
5,2626,2623,13329,1505570400,Finished,0,Watford,Manchester City,0.0,6.0,0.0,3.0,0.0,3.0,148